/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/fullstack-is-dead.iml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
/.idea/jpa-buddy.xml
