<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content">
    <h1>Hello World</h1>

    <form id="form" hx-post="/greet" hx-target="#greeting">
        <div class="mb-3">
            <label for="name" class="form-label">Your name</label>
            <input class="form-control"
                   type="text"
                   id="name"
                   name="name"/>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">
                Say hello
            </button>
        </div>
    </form>

    <div th:replace="~{fragments :: greeting}"></div>
</section>
</body>
</html>
