<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:hx="https://github.com/wimdeblauwe/htmx-spring-boot-thymeleaf"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content">
    <h1>Persons</h1>

    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date of Birth</th>
            <th>Occupation</th>
            <th>Role</th>
            <th>Important</th>
        </tr>
        <tr id="content-rows"
            th:each="person, iterStat : ${persons}"
            th:with="lastRow = ${iterStat.count == persons.size}"
            hx:get="${lastRow} ? '/persons?size=' + ${persons.size} + '&page='+ ${persons.number + 1} : null"
            hx:trigger="${lastRow} ? 'revealed' : null"
            hx:swap="${lastRow} ? 'afterend' : null">

            <td th:text="${person.getFirstName()}"></td>
            <td th:text="${person.getLastName()}"></td>
            <td th:text="${person.getEmail()}"></td>
            <td th:text="${person.getPhone()}"></td>
            <td th:text="${person.getDateOfBirth()}"></td>
            <td th:text="${person.getOccupation()}"></td>
            <td th:text="${person.getRole()}"></td>
            <td th:text="${person.isImportant() ? '✓': ''}"></td>
        </tr>
    </table>
</section>
</body>
</html>
